<ion-header>
	<ion-navbar>
		<ion-title>{{'LOCATION_NOTES.TITLE'|translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="waypoint.notes && waypoint.notes != ''">
		<ion-card-header>
			{{'LOCATION_NOTES.WAYPOINT_NOTES'|translate}}
		</ion-card-header>
		<ion-card-content>
			{{waypoint.notes}}
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			{{'LOCATION_NOTES.LOCATION_NOTES'|translate}}: {{location.name}}
		</ion-card-header>
		<ion-card-content>
			<form [formGroup]="locationNoteForm" (ngSubmit)="submit()">
				<ion-textarea type="text" rows="8" formControlName="note" name="note"></ion-textarea>
				
				<div>
					<button ion-button type="submit">{{'LOCATION_NOTES.SUBMIT'|translate}}</button>	
					<button color="light" ion-button navPop>{{'LOCATION_NOTES.CANCEL'|translate}}</button>
				</div>
			</form>
		</ion-card-content>
	</ion-card>

	<ion-list *ngIf="location_notes.length > 0; else noLNotes">
		<ion-list-header>{{'LOCATION_NOTES.PREVIOUS_NOTES'|translate}}</ion-list-header>
		<div *ngFor="let ln of location_notes">
			<ion-item text-wrap>
				<p>{{ln.note}}</p>
				<ion-note>
					{{ln?.user?.name}} {{ln?.user?.surname}}, {{ln.created_at|momentPipe}}
				</ion-note>
			</ion-item>
		</div>
	</ion-list>
	<ng-template #noLNotes>
		<ion-item text-wrap>
			<p>{{'LOCATION_NOTES.NO_NOTES'|translate}}</p>
		</ion-item>
	</ng-template>
	
</ion-content>
		
