<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="waypointForm" (ngSubmit)="submit()">
		<ion-item [hidden]="waypoint.scheduled" [ngClass]="{'has-error': !waypointForm.controls.activity.valid && waypointForm.controls.activity.touched}">
			<ion-label>{{'NEW_WAYPOINT.ACTIVITY'|translate}}</ion-label>
			<ion-select #activityCtrl formControlName="activity">
				<ion-option value="pickup">{{'HOME.PICKUP'|translate}}</ion-option>
				<ion-option value="deliver">{{'HOME.DELIVER'|translate}}</ion-option>
				<ion-option value="service">{{'HOME.SERVICE'|translate}}</ion-option>
				<ion-option value="fuel">{{'HOME.FUEL'|translate}}</ion-option>
				<ion-option value="office">{{'HOME.OFFICE'|translate}}</ion-option>
				<ion-option value="handover">{{'HOME.HANDOVER'|translate}}</ion-option>
			</ion-select>
		</ion-item>

		<div formGroupName="location_attributes" *ngIf="!waypoint.scheduled">
			<ion-item [ngClass]="{'has-error': !waypointForm.controls.location_attributes.controls.name.valid && waypointForm.controls.location_attributes.controls.name.touched}">
				<ion-label>{{'NEW_WAYPOINT.LOCATION_NAME'|translate}}</ion-label>
				<ion-input type="text" formControlName="name"></ion-input>
			</ion-item>
			<!--><ion-item *ngIf="waypointForm.controls.location_attributes.controls.name.hasError('required') && waypointForm.controls.location_attributes.controls.name.touched"><p class="alert alert-danger">{{'NEW_WAYPOINT.LOCATION_NAME_VALIDATION_MSG'|translate}}<p></ion-item>-->

			<ion-item>
				<ion-label>{{'NEW_WAYPOINT.ADDRESS'|translate}}</ion-label>
				<ion-textarea formControlName="address"></ion-textarea>
			</ion-item>
		</div>
		
		<div formGroupName="reading_attributes">
			<ion-item>
				<ion-label>{{'NEW_READING.ODOMETER'|translate}}</ion-label>
				<ion-input type="text" formControlName="odometer"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'NEW_READING.MAUT'|translate}}</ion-label>
				<ion-input formControlName="maut"></ion-input>
			</ion-item>
		</div>

		<ion-item>
			<ion-label>{{'NEW_WAYPOINT.ADDITIONAL_KM'|translate}}</ion-label>
			<ion-input #reasonCtrl formControlName="additional_km"></ion-input>
		</ion-item>
		<ion-item *ngIf="reasonCtrl.value!=''">
			<ion-label>{{'NEW_WAYPOINT.ADDITIONAL_KM_REASON'|translate}}</ion-label>
			<ion-input formControlName="additional_km_reason"></ion-input>
		</ion-item>

		<!-- only if fuelling -->
		<ion-item *ngIf="activityCtrl.value=='fuel'" [ngClass]="{'has-error': !waypointForm.controls.price_per_litre.valid && waypointForm.controls.price_per_litre.touched}">
			<ion-label>{{'NEW_WAYPOINT.PRICE_PER_LITRE'|translate}}</ion-label>
			<ion-input formControlName="price_per_litre"></ion-input>
		</ion-item>
		<ion-item *ngIf="activityCtrl.value=='fuel'" [ngClass]="{'has-error': !waypointForm.controls.litres_diesel.valid && waypointForm.controls.litres_diesel.touched}">
			<ion-label>{{'NEW_WAYPOINT.LITRES_DIESEL'|translate}}</ion-label>
			<ion-input formControlName="litres_diesel"></ion-input>
		</ion-item>
		<!-- end only if fuelling -->

	   	<button type="submit" [disabled]="!waypointForm.valid" ion-button>{{'NEW_WAYPOINT.SUBMIT'|translate}}</button>
		<button color="light" ion-button navPop>{{'NEW_WAYPOINT.CANCEL'|translate}}</button>
	</form>
</ion-content>
