<ion-header>

  <ion-navbar>
    <ion-title>{{'NEW_WAYPOINT.NEW_WAYPOINT'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="waypointForm" (ngSubmit)="submit()">
		<ion-item>
			<ion-label>{{'NEW_WAYPOINT.ACTIVITY'|translate}}</ion-label>
			<ion-select #activityCtrl formControlName="activity">
				<ion-option value="pickup">{{'HOME.PICKUP'|translate}}</ion-option>
				<ion-option value="deliver">{{'HOME.DELIVER'|translate}}</ion-option>
				<ion-option value="service">{{'HOME.SERVICE'|translate}}</ion-option>
				<ion-option value="fuel">{{'HOME.FUEL'|translate}}</ion-option>
				<ion-option value="office">{{'HOME.OFFICE'|translate}}</ion-option>
				<ion-option value="handover">{{'HOME.HANDOVER'|translate}}</ion-option>
			</ion-select>
		</ion-item>

		<div formGroupName="location_attributes">
			<ion-item>
				<ion-label>{{'NEW_WAYPOINT.LOCATION_NAME'|translate}}</ion-label>
				<ion-input type="text" formControlName="name"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'NEW_WAYPOINT.ADDRESS'|translate}}</ion-label>
				<ion-textarea formControlName="address"></ion-textarea>
			</ion-item>
		</div>
		
		<div formGroupName="reading_attributes">
			<ion-item>
				<ion-label>{{'NEW_READING.ODOMETER'|translate}}</ion-label>
				<ion-input type="text" formControlName="odometer"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>{{'NEW_READING.MAUT'|translate}}</ion-label>
				<ion-input formControlName="maut"></ion-input>
			</ion-item>
		</div>

		<ion-item>
			<ion-label>{{'NEW_WAYPOINT.ADDITIONAL_KM'|translate}}</ion-label>
			<ion-input formControlName="additional_km"></ion-input>
		</ion-item>

		<!-- only if fuelling -->
		<ion-item *ngIf="activityCtrl.value=='fuel'">
			<ion-label>{{'NEW_WAYPOINT.PRICE_PER_LITRE'|translate}}</ion-label>
			<ion-input formControlName="price_per_litre"></ion-input>
		</ion-item>
		<ion-item *ngIf="activityCtrl.value=='fuel'">
			<ion-label>{{'NEW_WAYPOINT.LITRES_DIESEL'|translate}}</ion-label>
			<ion-input formControlName="litres_diesel"></ion-input>
		</ion-item>
		<!-- end only if fuelling -->

	   	<button type="submit" ion-button>{{'NEW_WAYPOINT.SUBMIT'|translate}}</button>
		<button color="light" ion-button navPop>{{'NEW_WAYPOINT.CANCEL'|translate}}</button>
	</form>
</ion-content>
