<ion-card (tap)="currentCardTapped($event)" class="currentCard" [ngClass]="{'overdue': currentWaypointOverdue, 'currentCardCheckedIn': currentWaypoint.actual_date != null}" *ngIf="currentWaypoint">
	<ion-card-header *ngIf="currentWaypoint.actual_date == null">
		{{'HOME.DRIVING_TO'|translate}}: {{currentWaypointLocationText}}
		<ion-badge float-right>{{currentWaypoint.distance_from_previous}} km</ion-badge>
	</ion-card-header>
	<ion-card-header *ngIf="currentWaypoint.actual_date">
		{{'HOME.CURRENTLY_AT'|translate}}: {{currentWaypointLocationText}}
	</ion-card-header>
	<ion-card-content>
		<h1 class="position-number" float-right>{{currentWaypoint.position}}</h1>

		<ion-item *ngIf="online && !currentWaypoint.read" class="current-waypoint-unconfirmed">
			<ion-icon name="ios-alert-outline"></ion-icon> {{'HOME.CURRENT_WAYPOINT_UNCONFIRMED'|translate}}
		</ion-item>
		<ion-item *ngIf="online && currentWaypoint.read" class="current-waypoint-confirmed">
			<ion-icon name="ios-checkmark-circle-outline"></ion-icon> {{'HOME.CURRENT_WAYPOINT_CONFIRMED'|translate}}
		</ion-item>
		<ion-item>
			<ion-icon name="{{currentWaypointIconName}}" item-start large></ion-icon>
			<h2>{{currentWaypoint.location.name}}</h2>
			<p>{{currentWaypoint.location.street}} {{currentWaypoint.location.number}} </p>
			<p>{{currentWaypoint.location.country_code}}-{{currentWaypoint.location.postcode}} {{currentWaypoint.location.city}}</p>
		</ion-item>
		<ion-item *ngIf="currentWaypoint.scheduled">
			<h4>{{'HOME.DUE'|translate}}</h4>
			<div>{{currentWaypointDatestring}} <span *ngIf="!currentWaypoint.actual_date" [ngClass]="{'overdue': currentWaypointOverdue, 'pending': !currentWaypointOverdue}">({{timeToCurrentWaypoint}})</span></div>
		</ion-item>
		<ion-item *ngIf="currentWaypoint.actual_date">
			<h4>{{'HOME.ACTUAL'|translate}}</h4>
			<div>{{currentWaypointArrivalDatestring}}</div>
		</ion-item>
		<ion-item>
			<ion-row *ngIf="currentWaypoint">
				<ion-col *ngIf="currentWaypoint.trailer" col-5 no-padding>
					<h4>{{'HOME.TRAILER'|translate}}</h4>
					{{currentWaypoint.trailer.registration}}
				</ion-col>
				<ion-col *ngIf="nextWaypoint && nextWaypoint.trailer && currentWaypoint.trailer && nextWaypoint.trailer.registration != currentWaypoint.trailer.registration" col-2>
					<ion-icon name="arrow-forward" item-start large></ion-icon>
				</ion-col>
				<ion-col *ngIf="nextWaypoint && nextWaypoint.trailer && currentWaypoint.trailer && nextWaypoint.trailer.registration != currentWaypoint.trailer.registration" col-5>
					<h4>{{'HOME.NEXT_TRAILER'|translate}}</h4>
					{{nextWaypoint.trailer.registration}}
				</ion-col>
			</ion-row>
		</ion-item>
		<ion-row>
			<ion-col>
				<button [navPush]="locationNotesPage" [navParams]="{ waypoint: currentWaypoint }" ion-button icon-left clear item-end>
					<ion-icon name="alert"></ion-icon>
					{{'HOME.NOTES'|translate}}
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-left clear item-end *ngIf="currentWaypoint.actual_date == null" (click)="showConfirm()">
					<ion-icon name="navigate"></ion-icon>
					{{'HOME.CHECK_IN'|translate}}
				</button>
				<button *ngIf="currentWaypoint.actual_date" ion-button icon-left clear item-end (click)="checkOut()">
					<ion-icon name="navigate"></ion-icon>
					{{'HOME.CHECK_OUT'|translate}}
				</button>
			</ion-col>
		</ion-row>
	</ion-card-content>
</ion-card>
