page-home {
	
	.pending {
		color: map-get($colors, primary);
		border-color: map-get($colors, primary);
	}
	.previousCard {
		border-left: 6px solid map-get($colors, primary);
	}
	.unexpected {
		color: map-get($colors, warning);
		border-color: map-get($colors, warning);
	}
	.currentCard {
		border-left: 6px solid map-get($colors, secondary);
	}
	.overdue {
		color: map-get($colors, danger);
		border-color: map-get($colors, danger);
	}
	.nextCard {
		border-left: 6px solid map-get($colors, primary);
	}
	.current-waypoint-unconfirmed {
		color: map-get($colors, primary);
	}
	.current-waypoint-confirmed {
		color: map-get($colors, secondary);
	}
	
}
