<ion-header>
	<ion-navbar color="primary">
		<ion-title *ngIf="currentAssignment">
			{{'HOME.ROUTE'|translate}} {{currentAssignment.route.name}}
		</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="logout()">
				<ion-icon name="log-out"></ion-icon>
			</button>
			<button ion-button icon-only (click)="load()">
				<ion-icon name="refresh"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<!-- contingencies -->
	<div *ngIf="!currentAssignment">
		{{'HOME.NO_ROUTE_MSG'|translate}}
	</div>

	<!-- waypoint cards -->
	<div *ngIf="currentAssignment">
		<ion-card class="previousCard" [ngClass]="{'unexpected': !previousWaypoint.scheduled}" *ngIf="previousWaypoint">
			<ion-card-header>
				<ion-icon name="{{previousWaypointIconName}}" item-start small></ion-icon> {{'HOME.PREVIOUS_WAYPOINT'|translate}}
			</ion-card-header>
			<ion-card-content>
				<h2>{{previousWaypoint.location.name}}</h2>
				<p>{{previousWaypoint.location.address}}</p>
				<p>{{previousWaypointDatestring}}</p>
			</ion-card-content>
		</ion-card>
		<ion-card (tap)="currentCardTapped($event)" class="currentCard" [ngClass]="{'overdue': currentWaypointOverdue}" *ngIf="currentWaypoint">
			<ion-card-header>
				{{'HOME.DRIVING_TO'|translate}}: {{currentWaypointLocationText}}
			</ion-card-header>
			<ion-card-content>
				<ion-item *ngIf="!currentWaypoint.read" class="current-waypoint-unconfirmed">
					<ion-icon name="ios-alert-outline"></ion-icon> {{'HOME.CURRENT_WAYPOINT_UNCONFIRMED'|translate}}
				</ion-item>
				<ion-item *ngIf="currentWaypoint.read" class="current-waypoint-confirmed">
					<ion-icon name="ios-checkmark-circle-outline"></ion-icon> {{'HOME.CURRENT_WAYPOINT_CONFIRMED'|translate}}
				</ion-item>
				<ion-item>
					<ion-icon name="{{currentWaypointIconName}}" item-start large></ion-icon>
					<h2>{{currentWaypoint.location.name}}</h2>
					<p>{{currentWaypoint.location.address}}</p>
				</ion-item>
				<ion-item>
					<h4>{{'HOME.DUE'|translate}}</h4>
					<div>{{currentWaypointDatestring}} <span [ngClass]="{'overdue': currentWaypointOverdue, 'pending': !currentWaypointOverdue}">({{timeToCurrentWaypoint}})</span></div>
				</ion-item>
				<ion-item>
					<button ion-button icon-left clear item-end (click)="showConfirm()">
						<ion-icon name="navigate"></ion-icon>
						{{'HOME.CHECK_IN'|translate}}
					</button>
				</ion-item>
			</ion-card-content>
		</ion-card>
		<ion-card class="nextCard" *ngIf="nextWaypoint">
			<ion-card-header>
				<ion-icon name="{{nextWaypointIconName}}" item-start small></ion-icon> {{'HOME.NEXT_WAYPOINT'|translate}}: {{nextWaypointLocationText}}
			</ion-card-header>
			<ion-card-content>
				<h2>{{nextWaypoint.location.name}}</h2>
				<p>{{nextWaypoint.location.address}}</p>
				<p>{{nextWaypointDatestring}}</p>
			</ion-card-content>
		</ion-card>
	</div>

	<ion-card-content *ngIf="!currentWaypoint">
		{{'HOME.NO_MORE_WAYPOINTS_MSG'|translate}}
	</ion-card-content>
	
	<ion-footer>
		<ion-toolbar>
			<button [navPush]="waypointFormPage" [navParams]="{ currentAssignment: currentAssignment }" ion-button block>{{'HOME.NEW_WAYPOINT'|translate}}</button>
		</ion-toolbar>
	</ion-footer>
</ion-content>
