page-home {
	
	.pending {
		color: map-get($colors, primary);
		border-color: map-get($colors, primary);
	}
	.previousCard {
		border-left: 6px solid map-get($colors, primary);
	}
	.unexpected {
		color: map-get($colors, warning);
		border-color: map-get($colors, warning);
	}
	.currentCard {
		border-left: 6px solid map-get($colors, warning);
	}
	.currentCardCheckedIn {
		border-left: 6px solid map-get($colors, secondary);
	}
	.overdue {
		color: map-get($colors, danger);
		border-color: map-get($colors, danger);
	}
	.nextCard {
		border-left: 6px solid map-get($colors, primary);
	}
	.current-waypoint-unconfirmed {
		color: map-get($colors, primary);
	}
	.current-waypoint-confirmed {
		color: map-get($colors, secondary);
	}

	.aligner {
		display: flex;
		align-items: center;
		min-height: 24em;
		justify-content: center;
	}

	.aligner-item {
		text-align: center;
		flex: 1;
	}

	.aligner-item--top {
		align-self: flex-start;
	}

	.aligner-item--bottom {
		align-self: flex-end;
	}

	.aligner-item--fixed {
		flex: none;
		max-width: 50%;

	}	
}
