<ion-header>
	<ion-navbar color="primary">
		<ion-title *ngIf="currentAssignment">
			{{currentAssignment.driver_truck_assignment.truck.registration}} ({{'HOME.ORDER'|translate}} {{currentAssignment.reference}})
		</ion-title>
		<ion-buttons start>
			<button *ngIf="currentUser" ion-button icon-only (click)="logout()">
				{{currentUser.username}}
				<ion-icon name="log-out"></ion-icon>
			</button>
			<button ion-button icon-only (click)="load()">
				<ion-icon name="refresh"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<!-- contingencies -->
	<div *ngIf="!currentAssignment">
		<div class="aligner">
			<div class="aligner-item">
				<h1><ion-icon name="information-circle"></ion-icon></h1>
				<h1>{{'HOME.NO_ORDER_MSG'|translate}}</h1>

			</div>
		</div>
	</div>
	<!-- waypoint cards -->
	<div *ngIf="currentAssignment" margin-bottom>

		<waypoint-panel *ngFor="let wp of previousWaypoints" [waypoint]="wp"></waypoint-panel>

		<current-waypoint id="currentWaypoint" [currentWaypoint]="currentWaypoint" [previousWaypoint]="previousWaypoint" [currentAssignment]="currentAssignment" (waypointUpdated)="load()"></current-waypoint>

		<waypoint-panel *ngFor="let wp of nextWaypoints" [waypoint]="wp"></waypoint-panel>
		
	</div>
	
	<!-- next order previews -->
	<div *ngFor="let na of nextAssignments" margin-top>
		<h1 margin padding-top>{{'HOME.ASSIGNMENT_DIVIDER_TEXT'|translate}} {{na.order.client_reference}}
			<button small ion-button float-right round outline (click)="showOrderNotesModal(na.order)">
				{{'HOME.SHOW_NOTES_NEXT_ASSIGNMENT_BUTTON'|translate}}
			</button>
		</h1>
		<waypoint-panel *ngFor="let wp of na.order.waypoints" [waypoint]="wp"></waypoint-panel>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-row>
			<ion-col *ngIf="currentWaypoint && currentWaypoint.actual_date == null && currentWaypoint.scheduled">
				<button [navPush]="waypointFormPage" [navParams]="{ currentAssignment: currentAssignment }" ion-button block>{{'HOME.NEW_WAYPOINT'|translate}}</button>
				<!-- order notes modal -->
			</ion-col>
			<ion-col *ngIf="currentWaypoint">
				<button margin-right ion-button block (click)="showOrderNotesModal(currentAssignment.order)">{{'HOME.SHOW_NOTES_BUTTON'|translate}}</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>
