<ion-card class="previousCard" [ngClass]="{'unexpected': !waypoint.scheduled}" *ngIf="waypoint">

	<ion-card-header>
		<ion-icon name="{{waypointIconName}}" item-start small></ion-icon>
		{{waypointLocationText}} 
		<h1 class="position-number" float-right>{{waypoint.position + 1}}</h1>
	</ion-card-header>

	<ion-card-content>
		<ion-item>
			<h2>{{waypoint.location.name}}</h2>
			<p>{{waypoint.location.street}} {{waypoint.location.number}} </p>
			<p>{{waypoint.location.country_code}}-{{waypoint.location.postcode}} {{waypoint.location.city}}</p>
			<hr>
			<p>{{waypointDatestring}}</p>
		</ion-item>
	</ion-card-content>
</ion-card>
